@model CaptaineMoodle.Models.Course

@using CaptaineMoodle.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager

@{ ViewData["Title"] = "Edit";}

@if (User.IsInRole("Admin") || Model.CreatorId == @UserManager.GetUserId(User))
{
    <h1>Edit</h1>

    <h4>Course</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="CreatorId" />
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="UsersId" />
                <div class="form-group">
                    <label asp-for="Start" class="control-label"></label>
                    <input asp-for="Start" class="form-control" />
                    <span asp-validation-for="Start" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="End" class="control-label"></label>
                    <input asp-for="End" class="form-control" />
                    <span asp-validation-for="End" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="ListCourses">Back to List</a>
    </div>
}
else
{
    <p>You can only edit your own Course.</p>
}